
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outer{
  height: 100vh;
  background: linear-gradient(to right top,skyblue,white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
}

.outer > h1{
  text-transform: capitalize;
  letter-spacing: 1.2px;
  color:white;
  text-shadow: 2px 1px 2px black;
  cursor: pointer;
  position: relative;
}


.outer > h1::after
{
  content: "";
  height: 4px;
  width: 0%;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 1.5s ease-in;
}

.outer > h1:hover::after{
  width: 100%;
}

main{
  height: 50%;
  width: 40%;
  background-color: #fefefe;
  padding: 20px;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

::-webkit-scrollbar{
  display: none;
}

.search
{
  width: 40%;
  /* background-color: red; */
  display: flex;
  gap:5px;
}

.search > input{
  flex-basis: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}
.search > button{
  flex-basis: 20%;
  border-radius: 8px;
  background-color: green;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.search > button:hover{
  background-color: rgb(9, 172, 9);
}

main > li{
  /* background-color: red; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  
}

main > li:nth-child(2n)
{
  background-color: pink;
}
main > li:nth-child(2n+1)
{
  background-color: #ccc;
}

main > li > button
{
  padding: 10px;
  width: 100px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}


main >  li > button:nth-child(1)
{
  background-color: blue;
  color:white;
}
main >  li > button:nth-child(1):hover
{
  background-color: rgb(69, 69, 204);
  box-shadow: 2px 1px 2px rgba(0,0,0,0.7);
  
}
main >  li > button:nth-child(2)
{
  background-color: red;
  color:white;
}
main >  li > button:nth-child(2):hover
{
  background-color: rgb(230, 55, 55);
  box-shadow: 2px 1px 2px rgba(0,0,0,0.7);
 
}